$welcome-prefixCls: vc-chat-welcome;

.#{$welcome-prefixCls} {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;

  .vc-logo {
    margin-bottom: 20px;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
  }

  &-title {
    font-size: 24px;
    font-weight: 600;
    margin: 16px 0 8px;
    color: var(--vc-color-text);
  }

  &-note {
    font-size: 14px;
    color: var(--vc-color-text-description);
    margin: 0 0 16px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

  &-doc-link {
    margin-inline-start: 2px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 2px;
    color: inherit;
    display: inline-flex;
    align-items: center;
    line-height: 0;

    .vc-icon {
      color: inherit;
    }

    &:hover {
      color: var(--vc-color-link-active);
    }
  }
}
